#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    color: white;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #f0f4ef;
}

body {
    background-color: #396e94;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

header {
    background-color: #B4CDED;
}

nav a:hover {
    background-color: #B4CDED;
}

.book, .join {
    background-color: #B4CDED;
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #B4CDED;
    color: black;
}

.home-title {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    
}
.msg {
    background-color: #B4CDED;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #B4CDED;
    padding: 25px 50px;
    margin-top: 200px;
}

h4 {
    color: white;
}

.msg h2 {
    color: black;
    margin: 0;
}

.msg p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

footer h3 {
    color: black;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

footer .social img {
    padding-top: 15px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer h3 a:hover {
    text-decoration: underline;
}

.logo {
    width: 80px
}

#logo_link {
    padding-top: 5px;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}