body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}
#background {
    height: 725px;
    background-color: #738290;
}
header {
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    background-color: #738290;
    display: grid;
    grid-template-columns: 200px auto;
    
}

header .title {
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
}
nav {
    text-align: center;
    color: black;
    text-decoration: none;
    grid-column: 2;
    grid-row: 1;
    align-self: center;
}
nav a {
    margin: 100px;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
}
.navigation {
    text-align: center;
    margin-left: -200px
}

.cody, .Cameron, .Josh, .Kole, .Trevor, .Jaron, .Ethan, .aaron, .Luke, .Braydon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
    place-items: center;
}

.cody img, .Cameron img, .Josh img, .Kole img, .Trevor img, .Jaron img, .Ethan img, .aaron img, .Luke img, .Braydon img {
    width: 300px;
}

.cody p, .Cameron p, .Josh p, .Kole p, .Trevor p, .Jaron p, .Ethan p, .aaron p, .Luke p, .Braydon p {
    max-width: 400px;
    justify-self: start;
}